<canvas id="gamesChart"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>

<script>
    window.gamesData = <%- JSON.stringify(games) %>;
    window.releasesPerYear = <%- JSON.stringify(releasesPerYear) %>;
</script>

<script type="module" src="/scripts/app.js"></script>

<div id="yearFilter">
    <label>From: <input type="number" id="minYear"></label>
    <label>To: <input type="number" id="maxYear"></label>
    <button id="yearFilterButton">Filter By Year</button>
</div>

<div id="platformFilter">
    <label>Enter platform: <input type="text" id="platformInput"></label>
    <button id="platformFilterButton">Filter By Platform</button>
</div>

<div id="removeDataset">
    <label>Remove Dataset: <input type="text" id="datasetInput"></label>
    <button id="removeDatasetButton">Remove Dataset</button>
</div>