<canvas id="gamesChart"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>

<script>
    /* eslint-disable */
    window.gamesData = <%- JSON.stringify(games) %>;
    console.log('gamesData set to:', window.gamesData);
    /* eslint-enable */
</script>

<script type="module">
    import { ChartManager } from '/scripts/chart.js';
    const chartManager = new ChartManager();
    chartManager.initializeChart();
</script>

<div>
    <% if (page> 1) { %>
        <button><a href="/games?page=<%= page - 1 %>">Previous</a></button>
        <% } %>

            <% if (hasNextPage===true) { %>
                <button><a href="/games?page=<%= page + 1 %>">Next</a></button>
                <% } %>
</div>