<div class="chart-controls">
    <button data-chart="metascore">Metascore</button>
    <button data-chart="release">Release Timeline</button>
</div>

<canvas id="gamesChart"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>

<script>
    window.gamesData = <% - JSON.stringify(games) %>;
</script>

<script type="module" src="/scripts/app.js"></script>

<div>
    <% if (page> 1) { %>
        <button><a href="/games?page=<%= page - 1 %>">Previous</a></button>
        <% } %>

            <% if (hasNextPage===true) { %>
                <button><a href="/games?page=<%= page + 1 %>">Next</a></button>
                <% } %>
</div>