<header>
    <nav>
        <div class="nav-left">
            <h1>Metacritic Game Data</h1>
        </div>
        <div class="nav-right">
            <a href="<%= baseURL %>games">Games</a>
            <% if (jwt) { %>
                <a href="<%= baseURL %>logout">Log out</a>
                <% } else { %>
                    <a href="<%= baseURL %>login">Log in</a>
                    <% } %>
        </div>
    </nav>
</header>